body {
  margin: 0px;
  border: 0px;
  font-family: "Arial";
  background-color: #002b36;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

main{
	margin: auto;
  width: 872px;
  /*height: 1200px;*/
	height:1300px;
  background-color: white;
  padding: 30px 50px 30px 40px;

  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 25px 25px 460px 330px 80px 180px;
  grid-template-areas:
    "name name"
    "contact contact"
    "skill skill"
    "exp workexp"
    "cmnt workexp"
    "project workexp"
    "project education";
}

h1,h2,h3,h4,h5,h6{
  margin: 2px;
}

.hlabel{
  font-size: 20px;
  font-weight: bolder;
}
.vlabel{
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: black;
}

#nameIntro{
  grid-area: name;
}
#name{
  font-size: 40px;
}
#subtext{
  font-size: 20px;
}

#contacts{
  grid-area: contact;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  font-size: 16px;
}
.contact{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 20px auto;
  align-items: center;
}


#skills{
  grid-area: skill;
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: 70px repeat(13, fit-content(80px));
  align-items: baseline;
  font-size: 16px;
}
.skill{
}

#work{
  grid-area: workexp;
  display: grid;
  grid-template-rows: 55px auto auto auto;
}
.timePeriod{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 20px auto;
  align-items: center;
  font-size: 14px;
}

#experience{
  grid-area: exp;
  display: grid;
  grid-template-rows: 55px auto auto;
}

#community{
  grid-area: cmnt;
  display: grid;
  grid-template-rows: 55px auto auto;
}

#project{
  grid-area: project;
  display: grid;
  grid-template-rows: 55px auto;
}

#education{
  grid-area: education;
  display: grid;
  grid-template-rows: 55px auto auto;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}
